@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"PT Serif", serif;
}

body{
    min-height: 100vh;
    background-color:rgb(235, 224, 205);
}

h1 {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
  font-size: 70px;
  color: rgb(74, 61, 44);
  }

  h2 {
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  color: rgb(74, 61, 44);
  }

.logo {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*------ MENU ------*/

nav {
    background-color: transparent; 
    position: relative;            
    z-index: 10;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(200,182,166, 0.2);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-button {
    display: block;
    position: relative;
    z-index: 11;
}

/*------ HOME ------*/
.margin{
    height: 30px;
}

.head {
    height: 300px;
    background-image: url('seta.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -100px;
    padding-top: 50px;
    margin-left: -30px;
    margin-right: -50px;}

.button {
    padding: 16px;
    background-color: #c8b6a6;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 4px #222;
    margin: 15px 30px;
}

footer{
    background-color: #c8b6a6;
    color: rgb(74, 61, 44);
    text-align: center;
    margin-top: 50px; 
    padding: 20px;
}

/*------ CERCHI ------*/

.text-round {
    display: flex;
    align-items: flex-start; 
    gap: 40px;               
    width: 90%;
    margin: 0 auto;          
}

.round {
    width: 600px;
    margin: 0 auto;
    background-color:rgb(74, 61, 44);
    border: 40px solid rgb(74, 61, 44); 
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    gap:60px;
}

.round-photo {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}
        /*------ MAPS ------*/

        .embed-map-container {
            width: 400px;
            height: 400px;
            overflow: hidden;
            border-radius: 0% 50% 50% 50%;
        }

        .embed-map-frame {
            width: 100%;
            height: 100%;
            border-radius: 0% 50% 50% 50%;
        }

.side-text {
    flex: 1; 
    min-width: 300px; 
    margin-top: 70px;
}

.side-text p{
    margin-bottom: 300px;
}




























/*------ ADVICES ------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 1em;
    margin: 50px auto;    
    width: 90%;               
}

.section {
    width: 100%;
    padding: 40px;
    border-radius: 1em;
    background-color: #fdfdfd;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.title-section{
    margin-right: 3em;
}

.outfit-section{
    text-align: center;
    margin: 2em 0 0;
    display: none;
}

.section.active .outfit-section{
    display: block;
}

.button-section{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 30px;
    width: 30px;
    top: 30px;
    right: 30px;
    background-color: rgb(150, 60, 247);
    color: white;
    border-radius: 50%;
    border: none;
}

.button-section .bx-x{
    display: none;
}
.section.active .button-section .bx-x{
    display: block;
}

.button-section .bxs-chevron-down{
    display: block;
}
.section.active .button-section .bxs-chevron-down{
    display: none;
}

.photo-advices{
 height: 500px;
 width: 400px;
 object-fit: cover;
 border-radius: 10%;
}

.photo-trend{
 height: 800px ;
 width: 400px;
 object-fit: cover;
 border-radius: 15%;
}

/*------ FORM ------*/

.contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: rgb(74, 61, 44);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(74, 61, 44);
    border-radius: 50px;
}

.contact-left textarea{
    height: 160px;
    padding-top: 15px;
    border-radius: 40px;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(74, 61, 44);
    gap: 10px;
    border: none;
    border-radius: 50px;
}

.contact-right img{
    width: 500px;
}